{% extends "base.html" %}
{% block body %}
<h2>Setup Character</h2>
{% endblock %}
{% block content %}
<form class="char-info" method="post">
  <label for="name">Character Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>
  <label for="class">Class:</label><br>
    <select id="class" name="class" required>
      <option value="Scholar">Scholar</option>
      <option value="Warrior">Warrior</option>
      <option value="Artist">Artist</option>
      <option value="Athlete">Athlete</option>
      <option value="Merchant">Merchant</option>
    </select><br><br>
  <input type="submit" value="Create Character">
</form>
<form class="char-avatar" method="post" enctype="multipart/form-data">
  <!--  -->
</form>
{% endblock %}